body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Header  */

header {
    background-color:#1F2937;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    color: lightgray;
}


/* Hero Section */

.hero {
    background-color:#1F2937;
}

.hero-container {
    display: flex;
    padding: 65px 40px;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width:450px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero-button {
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
}

.hero-image {
    width:500px;
}


/*  Info Section  */

.info-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;
    margin: 50px;
}
.info-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.info-card {
    width:150px;
}

.card-image {
    width: 150px;
}
.card-text {
    margin-top: 5px;
    text-align: center;

}


/* Quote Section */

.quote-section {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container {
    width: 850px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    weight: 300;
}

.quote-author {
    text-align:end;
}






